#marque h1{ 
font-family: 'Rufina', serif;
font-weight: 1000;
text-transform: uppercase;
font-size: xxx-large;
text-align: center;
margin-bottom: 1px;
}

#marque h5{ 
font-family: 'Montserrat', sans-serif;
font-weight: 700;
font-size: x-large;
text-align: center;
}

#last-chance {
background-color: #EEF;
}

.pic h2 { 
font-family: 'Rufina', serif;
font-weight: 1000;
text-transform: uppercase;
font-size: xx-large;
text-align: center;
margin-top: 130px;
margin-bottom: 0px;
}

.pic p {
font-family: 'Montserrat', sans-serif;
font-weight: 1000;
text-align: center;
}




#shoerow1  .card {
border-radius: 5px;
font-family: 'Open Sans', sans-serif;
min-height: 400px;
margin-top: 40px;
margin-bottom: 15px;
}

.card .card-pic.first {
background: #EEF;
}
/* here we are target all the elements with class "card-title" that are inside an element with a "card" class */

.card .card-description h6 {
margin-bottom: 0;
font-size: 0.95em;
}
.card .card-description h5 {
margin-bottom: 0;
font-size: 1.1em;
}
.card .card-description p {
margin-bottom: 6px;
font-size: 0.95em;
}

.card .card-description .size {
width: 100%;  
} /* code not working */
.card .card-description .button-primary {
width: 100%;
}

/*{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
} */

