a, a:hover, a:focus, a:active {
text-decoration: none;
color: inherit;
} /* https://stackoverflow.com/questions/6722467/how-to-remove-the-default-link-color-of-the-html-hyperlink-a-tag */

body {height: 100%;}
 
#shipping {
background-color: #F5DEB3;
}

#shipping .container p {
font-family: 'Montserrat', sans-serif;
font-weight: 500;
text-align: center;
font-size: 80%;  
margin-bottom: 0px;
}

 
#marque .name h1 { 
font-family: 'Rufina', serif;
font-weight: 1000;
text-transform: uppercase;
text-align: center;
font-size: 250%;
margin-top: 20px;
margin-bottom: 10px;
}

#marque .choices ul {
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 110%;
margin-top: 40px;
margin-bottom: 0px;  
}

#marque .choices li {
display: inline;
padding-right: 20px;
}

#marque .img ul {
font-family: 'Montserrat', sans-serif;
font-weight: 600;
text-align: right;
font-size: 110%;
margin-top: 40px;
margin-bottom: 0px;  
}

#marque .img li {
display: inline;
padding-right: 20px;
}


#last-chance {
background-color: #FFE4B5 /* #FFF8DC */;
}

#last-chance .container {
height: 100%;
line-height: 100%;

#last-chance .container h1 { 
font-family: 'Rufina', serif;
font-weight: 1000;
text-transform: uppercase;
font-size: 285%;
text-align: center;
height: 100%;
line-height: 100%;
margin-bottom: 0px; 
align:center;
}

#last-chance p {
font-family: 'Montserrat', sans-serif;
font-weight: 1000;
text-align: center;
font-size: 110%;
margin-top:0px;
}


#shoerow1 .container {
height: 100%;
}

/* Designing with Web */
#shoerow1 .card {
border-radius: 5px;
font-family: 'Montserrat', sans-serif;
min-height: 300px;
margin-top: 40px;
margin-bottom: 15px;
height: 100%;
}

#shoerow1 .card .cart-link .card-pic {
background: #EEE;
}

/*#shoerow1 .card .cart-link .card-description {
min-height: 140px;
position: relative;
} */

#shoerow1 .card .cart-link .card-description p {
font-size: 0.95em;
}

#shoerow1 .card .cart-link .card-description h6 {
font-size: 1em;
font-weight: 1000;
text-align: right;
margin-bottom: 2px;
/* position: absolute;
bottom: 0px;
right: 0px; */
}

#shoerow1 .card .card-cart .size {
width: 100%;  
} 

#shoerow1 .card .card-cart .button-primary {
width: 100%;
background-color: black;
border-color: black;
}



#shoerow2 .card {
border-radius: 5px;
font-family: 'Montserrat', sans-serif;
min-height: 400px;
margin-top: 40px;
margin-bottom: 15px;
}

#shoerow2 .card .cart-link .card-pic {
background: #EEE;
}

#shoerow2 .card .cart-link .card-description {
min-height: 140px;
position: relative;
}

#shoerow2 .card .cart-link .card-description p {
font-size: 0.95em;
}

#shoerow2 .card .cart-link .card-description h6 {
font-size: 1em;
font-weight: 1000;
text-align: right;
margin-bottom: 2px;
position: absolute;
bottom: 0px;
right: 0px;
}

#shoerow2 .card .card-cart .size {
width: 100%;  
} 

#shoerow2 .card .card-cart .button-primary {
width: 100%;
background-color: black;
border-color: black;
}


#media .container {
text-align: center;  
margin-top: 50px;
}

#media .container p {
font-family: 'Montserrat', sans-serif;
font-weight: 600;
margin-bottom: 5px;
}

#media .container ul {
margin-bottom: 15px;
}

#media .container li {
display: inline;
padding-right: 10px;
}


#about .container {
margin-bottom: 40px;
border-top-style: solid;
border-top-width: 1px;
border-top-color: LightGray;
}
  
#about .container h4 {
font-family: 'Rufina', serif;
font-weight: 1000;
text-transform: uppercase;
font-size: 120%;
margin-top: 15px;
margin-bottom: 8px;
}

#about .container h6 {
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 85%;
}

#about .container h5 {
font-family: 'Montserrat', sans-serif;
font-weight: 1000;
text-transform: uppercase;
font-size: 115%;
margin-left:100px;
margin-top: 15px;
margin-bottom: 8px;
}

#about .container .mail {
font-family: 'Montserrat', sans-serif;
font-size: 100%;
width: 78%;
margin-left:100px;
}

#about .container .button-primary {
background-color: black;
border-color: black;
margin-left:100px;
}

